// display

.d-none {
  display: none;
}

// .d-block {
//   display: block;
// }

// .d-inline {
//   display: inline;
// }

// .d-inline-block {
//   display: inline-block;
// }

.d-flex {
  display: flex;
}

// fonts styles

.t-italic {
  font-style: italic;
}

.t-normal {
  font-style: normal;
}

// font weights

.t-bold {
  font-weight: 500;
}

.t-bolder {
  font-weight: 600;
}

.t-nowrap {
  white-space: nowrap;
}
