// display

.d-none {
  display: none;
}

// .d-block {
//   display: block;
// }

// .d-inline {
//   display: inline;
// }

// .d-inline-block {
//   display: inline-block;
// }

.d-flex {
  display: flex;
}

// fonts

.t-italic {
  font-style: italic;
}

.t-normal {
  font-style: normal;
}

// .t-underline {
//   text-decoration: underline;
// }

// .t-linethrough {
//   text-decoration: line-through;
// }

// .t-uppercase {
//   text-transform: uppercase;
// }

// .t-none {
//   text-transform: none;
// }

// font weights

.t-bold {
  font-weight: 500;
}
