@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@300&display=swap');

h1,
h2,
h3 {
  font-family: 'Italiana', serif;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
}