@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.022em;
  line-height: 50px;
}

h2 {
  font-size: 30px;
  letter-spacing: -0.024em;
  line-height: 42px;
}

h3 {
  font-size: 0.9rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}