@import "_reset.scss";
@import "_typography.scss";
@import "_variables.scss";

body {
  background-color: $off-white;

  ::selection {
    background-color: $text;
    color: white;
  }
}

.header {
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;

    li {
      margin-right: 1rem;
    }
  }
}

img {
  width: 100vw;
}