.about {
  margin-bottom: $spacing-lg;

  &__intro {
    margin: 85px 0 50px;
  }

  &__img {
    max-width: 100%;

    &--bw {
      filter: grayscale(100%);
      max-width: 100%;
      transition: 0.2s;
    }
  }

  &__info {
    margin-top: 1rem;
    justify-content: space-evenly;

    // selects contact and location divs
    & > div {
      width: 100%;

      // space between divs
      &:first-child {
        margin-right: 2rem;
      }

      // adds horizontal line above divs
      &::before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: $brown;
        margin-bottom: 12px;
      }
    }
  }

  &__me {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: $spacing-lg;

    a {
      text-decoration: underline;
    }
  }
}
