.navbar {
  align-items: center;
  background-color: $light-gray;
  box-shadow: 0 1px 1px rgba(0,0,0,0.02),
    0 2px 2px rgba(0,0,0,0.02),
    0 4px 4px rgba(0,0,0,0.02),
    0 8px 8px rgba(0,0,0,0.02),
    0 16px 16px rgba(0,0,0,0.02);
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 1rem;

  &__item {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 14px;

    a {
      text-decoration: none;
    }
  }
}
